# YouTube Music Playlist URL
PLAYLIST_URL=https://music.youtube.com/playlist?list=PLsLnUuEiM597QsUDH-L-waW5NE5sM3bFk

# iPod Connection Details
IPOD_IP=192.168.10.34
IPOD_USER=root
IPOD_MUSIC_PATH=/var/mobile/Media/Music_Sync

# Telegram Notifications (Optional)
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_ADMIN_ID=your_chat_id_here
